:root {
    /* Custom Colors */
    --primary-color: #D6A942;
    --primary-color-light: #E4DEB3;
    --secondary-color: #0B3162;
    --secondary-color-light: #B0E1F1;
    --third-color: #A9143C;
    --third-color-light: #ED8C9E;
    --fourth-color: #A56247;
    --dark: black;
    --light: #E3E2DE;
    
    /* Fonts - from style-tyle */
    --logotype-font: "Roboto", sans-serif;
    --headline-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --link-font: "Calibri", sans-serif;
}