:root {
    /* Custom Colors */
    --primary-color: #670E0E;
    --primary-color-light: #9A2D21;
    --secondary-color: #1E1E1E;
    --secondary-color-light: #474747;
    --third-color: #2C4B77;
    --third-color-light: #4681A3;
    --fourth-color: #9fb49c;
    --dark: black;
    --light: white;
    
    /* Fonts - from style-tyle */
    --logotype-font: "Roboto", sans-serif;
    --headline-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
    --link-font: "Calibri", sans-serif;
}